.header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #16d696;
  height: 72px;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 5;
}

.header .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
}

.header .nav-wrapper .nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-wrapper .nav .logo {
  text-decoration: none;
  color: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
}

.header .nav-wrapper .nav .logo p {
  margin-top: 18px;
}

.header .nav-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: auto;
  height: 100%;
}

.header .category a {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 100%;
}

.header .category a:hover {
  background-color: #47b392;
}

.header .category li {
  margin: 20px;
}

.header .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .userInfo .user-img,
.header .userInfo .user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header .nav-btn {
  display: none;
}

.header .signedIn-btn {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 16px;
  color: white;
  margin-right: 10px;
  background-color: #07c485;
}

.header .signedIn-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 700px) {
  .links {
    position: absolute;
    opacity: 0;
    display: inline-block !important;
    left: -6%;
    z-index: -2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 105px !important;
    background-color: #47b392;
  }
  .linksOpen {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate3d(0, 87px, 0);
            transform: translate3d(0, 87px, 0);
    display: inline-block !important;
    left: -6%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 105px !important;
    background-color: #47b392;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  .category li {
    margin: 5px !important;
  }
  .nav-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    right: -10%;
    border-radius: 50%;
    font-size: 18px;
    color: black;
  }
}
/*# sourceMappingURL=Header.css.map */